<div class="container mt-6">
    <div class="row justify-content-center flex-d" style="flex-direction: column; width: 50%;">
        <% @entries.each do |entry| %>
            <li class="col-md-1"><%= entry.meal_type %></li>
        <% end %>
    </div>
</div>
\